<header>
    <h1>{{title}}</h1>
    <ul>
        <li>
            <p><a href="/">HOME</a></p>
        </li>
        <li>
            <p><a href="/about">About</a></p>
        </li>
    </ul>
    <p>ScreamIT {{screamIt title}}</p>

</header>